:root {
/* light mode default */
--text: #000000;
--hover: #295c47;
--hover-text: #ffffff;
--card-container: #d8e8e0;
--div: #cedcd5;
--button: #bac4bf;
--icon-fill: #378d6b;
--icon-stroke: #000000;
--surface: #ffffff;
}

/** dark mode */ 
[data-theme='dark'] {
--text: #ffffff;
--hover: #7db39a;
--hover-text: #000000;
--card-container: #1c2822;
--div: #313c37;
--button: #5f6863;
--icon-fill: #d8e8e0;
--icon-stroke: #5f6863;
--surface: #121212;
}

@font-face {
    font-family: "Raleway";
    src: url(./fonts/Raleway-VariableFont_wght.woff2);
}

@font-face {
    font-family: "Roboto";
    src: url(./fonts/Roboto-VariableFont_wdth\,wght.woff2);
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Oswald";
    src: url(./fonts/Oswald-VariableFont_wght.woff2);
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url(./fonts/Montserrat-VariableFont_wght.woff2);
    font-style: normal;
    font-display: swap;
}



* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif, system-ui;
  font-weight: 100 900;
  color: var(--text);
}

body {
    grid-template-rows: 1fr 15fr;
    grid-template-areas: 
    "header"
    "card-container";
    height: 100vh;
}

body,
#card-container,
#header,
.book-info {
    display: grid;
}

#header {
    grid-area: header;
    grid-template-columns: 1fr 1fr 1fr 4fr 1fr;
    justify-content: space-evenly;
    gap: 15px;

}

#header,
dialog,
.buttons-container button[type=button],
.book-card,
.book-card-btn-div button {
    background-color: var(--div);
}

.icon,
.title,
.call-to-action,
.text-inputs,
.book-card,
#book-descriptors,
#book-specifics,
.book-card-btn-div {
    display: flex;
}

.icon, 
.call-to-action,
#header,
.book-card {
    align-items: center;
}

.icon,
.add-new-book {
    justify-self: center;
}

.icon {
    padding: 20px 0;
}

.icon svg {
    width: 60px;
    height: 60px;
}

.icon svg,
.call-to-action svg {
    display: block;
    stroke: var(--text);
    border: none;
}

.icon svg path {
    fill: var(--icon-fill);
    stroke: var(--icon-stroke)
}

.title,
.text-inputs,
.book-card,
#book-descriptors,
#book-specifics,
.book-card-btn-div {
    flex-direction: column;
}

.title p,
dialog h3 {
    font-family: "Oswald", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title p:first-child {
    font-weight: normal;
    font-size: 2em;
    line-height: 1em;
    align-items: end;
}

.title p:nth-child(2) {
    font-size: 0.8em;
    padding-top: 5px;
}

.light-dark-toggle {
    display: flex;
    /* box-sizing: border-box; */
}

li {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

label {
    width: 20px;
    height: 20px;
    line-height: 20px;
    position: relative;
}

label span {
    position: absolute;
    width: max-content;
    font-weight: bold;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    width: 44px;
    height: 24px;
    border-radius: 12px;
    border: 2px solid black;
    background: var(--icon-fill);
    transition: all 0.4s;
}

input[type="checkbox"]::before {
    width: 16px;
    height: 16px;
    border-radius: 9px;
    background-color: black;
    content: '';
    position: absolute;
    top: 4px;
    left: 16%;
    transition: all 0.4s;
}

input[type="checkbox"]:checked {
    background-color: var(--icon-fill);
    transition: all 0.4s;
}

input[type="checkbox"]:checked::before {
    left: 30%;
    transition: all 0.4s;
}

input[type="checkbox"] ~ label .dark, input[type="checkbox"]:checked ~ label .light {
    opacity: 0;
}

input[type="checkbox"] ~ label .light, input[type="checkbox"]:checked ~ label .dark {
    opacity: 1;
}

input:focus {
    outline: 1px dotted black;
}

.call-to-action {
    justify-self: end;
    gap: 8px;
}

.call-to-action svg {
    width: 26px;
    height: 26px;
}

.call-to-action svg path {
    stroke: var(--icon-fill);
}

.add-new-book {
    padding: 20px 20px 20px 0
}

#openModal {
    line-height: 3.5em;
    width: 150px;
    border: none; 
}

#openModal,
.book-card-btn-div button {
    text-align: center;
    vertical-align: center;
    font-size: 0.9em;
    border-radius: 200px;  
}

#openModal,
.book-card-btn-div button,
#book-descriptors {
    font-weight: bold;
}

#openModal,
.toggle-read-btn.is-read,
.buttons-container button[type=submit] {
    background-color: var(--button);
}

#openModal:hover,
.book-card-btn-div button:hover,
.buttons-container button:hover {
    background-color: var(--hover);
    color: var(--hover-text);
}

dialog {
    &[open] {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }    
    block-size: 32dvb;
    inset-block-start: 5dvb;
    border: none;
    border-radius: 8px;
    margin: auto;
    inline-size: min(30ch, 40dvi);
    margin-inline: auto;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

form {
    width: 85%;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

dialog h3 {
    font-size: 1.6em;
    text-align: center;
}

dialog label {
    width: 100%;
}

label[for="title"],
label[for="author"],
label[for="pages"] {
    font-weight: bold;
}

.text-inputs {
    margin: 1em 0;
}

.text-inputs {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 0.7em;
}
input[type="text"],
input[type="number"],
.buttons-container button {
    border: 1px solid var(--button);
    border-radius: 10px;
}

input[type="text"],
input[type="number"] {
    border: 1px solid var(--button);
    border-radius: 10px;
    line-height: 1.7em;
    text-indent: 8px;

    /* firefox, remove number input spinner */
    -moz-appearance: textfield;
}

/* remove number input spinner for chrome et al. */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.read-radio-container h4 {
    margin-bottom: 0.7em;
}

input[type="radio"] {
    gap: 0.7em;
}

.buttons-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    gap: 1em;
    margin-top: 1.5em;
}

.buttons-container button {
    font-weight: bold;
    width: 50%;
    padding: 0 5px;
    line-height: 2em;
    font-size: 1em;
}

#card-container {
    grid-area: card-container;
    background-color: var(--card-container);
    width: auto;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 400px));
    padding: 50px 20px;
    gap: 30px;
}

.book-card {
    justify-content: space-between;
    border: none;
    border-radius: 20px;
    padding: 15px;
    
}

.book-title {
    font-size: 1.5em;
    font-family: "Oswald", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 1em;
}

.book-info {
    grid-template-columns: max-content minmax(0, 1fr);
    gap: 2em;
    margin: 0 auto;
    min-width: 215px;
    max-width: 100%;
    text-overflow: none;
    text-wrap: wrap;
}

#book-descriptors,
#book-specifics {
    font-size: 1em;
    gap: 1.5em;
    align-items: start;
    text-align: left;

}

.book-card-btn-div {
    height: 100px;
    padding-bottom: 1em;
}

.book-card-btn-div button {
    border: 1px solid var(--button);
    line-height: 2.5em;
    width: 200px;
    margin-top: auto;
}