:root {
    /* light mode */
    --alice-blue: #ECF9FF;
    --sunlit-cream: #FFFBEB;
    --pale-orange: #FFE7CC;
    --light-apricot: #F8CBA6;

    /* dark mode */
    --creeping-jesus: #37353E;
    --smoky-grey: #44444E;
    --muted-brown: #715A5A;
    --dusty-grey: #D3DAD9;

    /** Base colors */
--clr-dark-a0: #000000;
--clr-light-a0: #ffffff;

/** Theme primary colors */
--clr-primary-a0: #378d6b;
--clr-primary-a10: #327c5f;
--clr-primary-a20: #2e6c53;
--clr-primary-a30: #295c47;
--clr-primary-a40: #244d3c;

/** Theme surface colors */
--clr-surface-a0: #ffffff;
--clr-surface-a10: #f0f0f0;
--clr-surface-a20: #e1e1e1;
--clr-surface-a30: #d3d3d3;
--clr-surface-a40: #c5c5c5;
--clr-surface-a50: #b6b6b6;

/** Theme tonal surface colors */
--clr-surface-tonal-a0: #d8e8e0;
--clr-surface-tonal-a10: #cedcd5;
--clr-surface-tonal-a20: #c4d0ca;
--clr-surface-tonal-a30: #bac4bf;
--clr-surface-tonal-a40: #b0b8b4;
--clr-surface-tonal-a50: #a6ada9;
}

@font-face {
    font-family: "Raleway";
    src: url(./fonts/Raleway-VariableFont_wght.woff2);
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url(./fonts/Roboto-VariableFont_wdth\,wght.woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Oswald";
    src: url(./fonts/Oswald-VariableFont_wght.woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url(./fonts/Montserrat-VariableFont_wght.woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}



* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif, system-ui;
}

body {
    grid-template-rows: 1fr 15fr;
    grid-template-areas: 
    "header"
    "card-container";
}

body,
#card-container {
    display: grid;
    color: black;
}

#header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 3fr 4fr 1fr;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--clr-surface-tonal-a10);
    gap: 15px;

}

.icon,
.title,
.call-to-action {
    display: flex;
}

.icon {
    padding: 20px 0;
}

.icon {
    justify-self: center;
    align-self: center;
}

.title {
    flex-direction: column;    
}

.title p {
    font-family: "Oswald", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title p:first-child {
    font-weight: normal;
    font-size: 2em;
    line-height: 1em;
    align-items: end;
    
}

.title p:nth-child(2) {
    font-size: 0.8em;
    padding-top: 5px;
}

.call-to-action {
    justify-self: end;
    align-items: center;
    gap: 8px;
}

.call-to-action img {
    /* transform: translateY(6px); */
}

.call-to-action svg {
    background-color: black;
}

.add-new-book {
    justify-self: center;
    padding: 20px 20px 20px 0
}

dialog {
  border: none;
  border-radius: 8px;
  margin: auto;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

/* This styles the dimmed background */
dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.text-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="radio"] {
    /* appearance: none; */
}

.book-card {
    background-color: var(--clr-surface-tonal-a10);
    border: none;
    border-radius: 20px;
}

#openModal {
    text-align: center;
    vertical-align: center;
    font-size: 0.9em;
    font-weight: bold;
    line-height: 3.5em;
    width: 150px;
    background-color: var(--clr-surface-tonal-a20);
    border: none;
    border-radius: 200px;    
}

#openModal,
.book-card-btn-div button {
    text-align: center;
    vertical-align: center;
    font-size: 0.9em;
    font-weight: bold;
    border-radius: 200px;  
}


#card-container {
    grid-area: card-container;
    background-color: var(--clr-surface-tonal-a0);
    width: auto;
    height: 100vh;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 400px));
    padding: 50px 20px;
    gap: 30px;
}

.book-card {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.book-card {
    padding: 15px;
}

.book-title {
    font-size: h2;
    font-weight: bold;
    padding-top: 2em;
}

.book-info {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 2em;
    margin: 0 auto;
    min-width: 215px;
}

#book-descriptors,
#book-specifics {
    display: flex;
    flex-direction: column;
    font-size: 1em;
    gap: 1.5em;
    align-items: start;
    text-align: left;

}

#book-descriptors {
    font-weight: bold;
}

.book-card-btn-div {
    display: flex;
    flex-direction: column;
    height: 100px;
    padding-bottom: 1em;
}

.book-card-btn-div button {
    background-color: var(--clr-surface-tonal-a10);
    border: 1px solid var(--clr-surface-tonal-a30);
    line-height: 2.5em;
    width: 200px;
    margin-top: auto;
}