:root {
/** Base colors */
--text-light: #000000;
--text-dark: #ffffff;

/* default: light theme */
--icon-fill: #378d6b;
--hover-light: #295c47;
--card-container-light: #d8e8e0;
--div-light: #cedcd5;
--button-light: #bac4bf;
/* dark theme */
--icon-fill-dark: 
--hover-dark: #7db39a;
--card-container-dark: #1c2822;
--div-dark: #313c37;
--button-dark: #5f6863;

--text: var(--text-light);
--hover: var(--hover-light);
--hover-text: var(--text-dark);
--card-container: var(--card-container-light);
--div: var(--div-light);
--button: var(--button-light);
}

/** dark mode */ 
[data-theme='dark'] {
--text: var(--text-dark);
--hover: var(--hover-dark);
--hover-text: var(--text-light);
--card-container: var(--card-container-dark);
--div: var(--div-dark);
--button: var(--button-dark);

}

@font-face {
    font-family: "Raleway";
    src: url(./fonts/Raleway-VariableFont_wght.woff2);
}

@font-face {
    font-family: "Roboto";
    src: url(./fonts/Roboto-VariableFont_wdth\,wght.woff2);
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Oswald";
    src: url(./fonts/Oswald-VariableFont_wght.woff2);
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url(./fonts/Montserrat-VariableFont_wght.woff2);
    font-style: normal;
    font-display: swap;
}



* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif, system-ui;
  font-weight: 100 900;
  color: var(--text);
}

body {
    grid-template-rows: 1fr 15fr;
    grid-template-areas: 
    "header"
    "card-container";
    height: 100vh;
}

body,
#card-container,
#header,
.book-info {
    display: grid;
}

#header {
    grid-area: header;
    grid-template-columns: 1fr 3fr 4fr 1fr;
    justify-content: space-evenly;
    gap: 15px;

}

#header,
.book-card,
.book-card-btn-div button {
    background-color: var(--div);
}

.icon,
.title,
.call-to-action,
.text-inputs,
.book-card,
#book-descriptors,
#book-specifics,
.book-card-btn-div {
    display: flex;
}

.icon, 
.call-to-action,
#header,
.book-card {
    align-items: center;
}

.icon,
.add-new-book {
    justify-self: center;
}

.icon {
    padding: 20px 0;
}

.icon svg {
    display: block;
    stroke: var(--text);
    width: 60px;
    height: 60px;
    border: none;
}

.icon svg path {
    fill: var(--icon-fill);
}

.title,
.text-inputs,
.book-card,
#book-descriptors,
#book-specifics,
.book-card-btn-div {
    flex-direction: column;
}

.title p {
    font-family: "Oswald", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title p:first-child {
    font-weight: normal;
    font-size: 2em;
    line-height: 1em;
    align-items: end;
}

.title p:nth-child(2) {
    font-size: 0.8em;
    padding-top: 5px;
}

.call-to-action {
    justify-self: end;
    gap: 8px;
}

.call-to-action svg {
    background-color: black;
}

.add-new-book {
    padding: 20px 20px 20px 0
}

dialog {
  border: none;
  border-radius: 8px;
  margin: auto;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

/* This styles the dimmed background */
dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.text-inputs {
    gap: 10px;
}

input[type="radio"] {
    /* appearance: none; */
}



#openModal {
    line-height: 3.5em;
    width: 150px;
    border: none; 
}

#openModal,
.book-card-btn-div button {
    text-align: center;
    vertical-align: center;
    font-size: 0.9em;
    border-radius: 200px;  
}

#openModal,
.book-card-btn-div button,
.book-title,
#book-descriptors {
    font-weight: bold;
}

#openModal,
.toggle-read-btn.is-read {
    background-color: var(--button);
}

#openModal:hover,
.book-card-btn-div button:hover {
    background-color: var(--hover);
    color: var(--hover-text);
}


#card-container {
    grid-area: card-container;
    background-color: var(--card-container);
    width: auto;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 400px));
    padding: 50px 20px;
    gap: 30px;
}

.book-card {
    justify-content: space-between;
    border: none;
    border-radius: 20px;
    padding: 15px;
    
}

.book-title {
    font-size: h2;
    padding-top: 2em;
}

.book-info {
    grid-template-columns: max-content minmax(0, 1fr);
    gap: 2em;
    margin: 0 auto;
    min-width: 215px;
    max-width: 100%;
    text-overflow: none;
    text-wrap: wrap;
}

#book-descriptors,
#book-specifics {
    font-size: 1em;
    gap: 1.5em;
    align-items: start;
    text-align: left;

}

.book-card-btn-div {
    height: 100px;
    padding-bottom: 1em;
}

.book-card-btn-div button {
    border: 1px solid var(--button);
    line-height: 2.5em;
    width: 200px;
    margin-top: auto;
}